<div class="new_comment">
  <ul class="user_comment">
		<div class="user_avatar">
			<%= image_tag "avatar.png" %>
		</div><!-- the comment body --><div class="comment_body">
      <p>Comment by <strong><%= link_to comment.user.name, comment.user %></strong></p> 
			<p><%= comment.content %></p>
		</div>
    <% if comment.commentable_type == Settings.comment_type %>
      <% if logged_in? %>
        <%= link_to t(".reply"), new_comment_path(comment_id: comment.id), remote: true %>
      <% end %>
    <% end %>
    <% div_id = "reply-form-#{comment.id}" %>
      <div id=<%= div_id %>>
    </div>
    <div id="reply">
      <ul>
        <%= render partial: "comments/comment", collection: comment.comments %>
      </ul>
    </div>
	</ul>
</div>