<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
    <%= custom_bootstrap_flash %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <div class = "container">
      <% if flash.present? %>
          <div id="flash">
            <script>
              <% if flash[:success] %>
                toastr.success("<%= flash[:success] %>")
              <% end %>
              <% if flash[:warning] %>
                toastr.warning("<%= flash[:warning] %>")
              <% end %>
              <% if flash[:danger] %>
                toastr.error("<%= flash[:danger] %>")
              <% end %>
            </script>
          </div>
        <% end %>
      <%= yield %>
    </div>
  </body>
</html>
<div id="login-modal"></div>
<div id="signup-modal"></div>
